body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

:root {
    --background-color: #f0f0f0;
    --text-color: #000;
    --container-background: #fff;
    --container-shadow: rgba(0, 0, 0, 0.1);
    --input-border: #ccc;
    --button-background: #28a745;
    --button-hover: #218838;
    --edit-color: #007bff;
    --edit-hover: #0056b3;
    --delete-color: #dc3545;
    --delete-hover: #c82333;
}

body.dark-mode {
    --background-color: #333;
    --text-color: #f0f0f0;
    --container-background: #444;
    --container-shadow: rgba(0, 0, 0, 0.5);
    --input-border: #555;
    --button-background: #006400;
    --button-hover: #004b00;
    --edit-color: #87cefa;
    --edit-hover: #4682b4;
    --delete-color: #ff6347;
    --delete-hover: #cd5c5c;
}

.container {
    background: var(--container-background);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--container-shadow);
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.mode-toggle {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.todo-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#taskInput, #dueDateInput {
    padding: 10px;
    border: 1px solid var(--input-border);
    border-radius: 4px;
}

#taskInput {
    flex: 1;
}

#dueDateInput {
    margin-left: 10px;
}

#addTaskButton {
    padding: 10px 20px;
    border: none;
    background-color: var(--button-background);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

#addTaskButton:hover {
    background-color: var(--button-hover);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: var(--container-background);
    padding: 10px;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

li input[type="text"] {
    flex: 1;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: var(--text-color);
}

li input[type="text"]:focus {
    outline: none;
}

li .due-date {
    margin-left: 10px;
    font-size: 14px;
    color: var(--text-color);
}

button.edit, button.delete {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

button.edit {
    color: var(--edit-color);
}

button.edit:hover {
    color: var(--edit-hover);
}

button.delete {
    color: var(--delete-color);
}

button.delete:hover {
    color: var(--delete-hover);
}
